.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 320px;
  font-size: large;
}

.logo {
  border-radius: 50%;
  border: 2px solid transparent;
  width: 50px;
  height: 50px;
}

.logo:hover {
  border: 2px solid hsl(30, 68%, 41%);
  box-shadow: 0 0.5em 0.5em -0.4em hsl(30, 68%, 41%);
  transform: translateY(-0.25em);
  transition: 0.25s;
}

.school-info {
  display: flex;
  gap: 10px;
  align-items: center;
}
