.details {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  padding-right: 5px;
  font-weight: 900;
  color: hsl(30, 68%, 41%);
}

.img {
  display: block;
  height: 500px;
  width: 350px;
  border-radius: 10px;
}
