.search-item-wrapper,
.details-wrapper {
  display: flex;
  gap: 10px;
}

.img {
  display: block;
  height: 150px;
  width: 105px;
  border-radius: 10px;
}

.details {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.name {
  padding-right: 5px;
  font-weight: 900;
  color: hsl(30, 68%, 41%);
}

.checkbox {
  height: fit-content;
  align-self: center;
  transform: scale(1.5);
}
