@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: 'Satoshi', 'sans-serif';
  --color-background: hsl(225, 35%, 7%);
  --color-foreground: hsl(0, 0%, 100%);
  --color-background-dark: hsl(33, 30%, 80%);
  --color-foreground-dark: hsl(0, 0%, 11%);

  --color-primary: hsl(36, 100%, 35%);
  --color-primary-light: hsl(40, 100%, 50%);
  --color-primary-dark: hsl(36, 100%, 29%);

  --color-disabled: hsl(0, 0%, 46%);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
